html
    head
        title="Mi primer medido pugsiano"
    body
        div(style="color:blue;") !{title}
        meter(value=valor,min=min,max=max)
        ul
            each user in users
                li
                    p=user.first_name